# Copyright (C) 2026 Ailin One, Inc.
#
# This file is part of Collective Intelligence Engine (ci).
# Licensed under the GNU Affero General Public License v3.0 or later.
# See LICENSE in the repository root, or <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
# Source: https://github.com/ailinone/collective-intelligence

openapi: 3.0.3
info:
  title: Ailin Dev Tool API
  description: Ailin CI API. OpenAI-compatible execution with multi-provider
    orchestration, governance, traceability, and enterprise controls.
  version: 0.1.0
  contact:
    name: Ailin Team
    email: support@ailin.one
    url: https://ailin.one
  license:
    name: AGPL-3.0-or-later
    url: https://ailin.one
servers:
  - url: https://api.ailin.one
    description: Production server
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Admin
    description: Admin operations.
  - name: Advanced
    description: Advanced operations.
  - name: API Keys
    description: API Keys operations.
  - name: Assistants
    description: Assistants operations.
  - name: Audio
    description: Audio operations.
  - name: Auth
    description: Auth operations.
  - name: Authentication
    description: Authentication operations.
  - name: Batches
    description: Batches operations.
  - name: Cache
    description: Cache operations.
  - name: Caching
    description: Caching operations.
  - name: Capabilities
    description: Capabilities operations.
  - name: Chat
    description: Chat operations.
  - name: Code Execution
    description: Code Execution operations.
  - name: Collective
    description: Collective operations.
  - name: Collective Intelligence
    description: Collective Intelligence operations.
  - name: Context Caching
    description: Context Caching operations.
  - name: Embeddings
    description: Embeddings operations.
  - name: Enterprise
    description: Enterprise operations.
  - name: Extended Thinking
    description: Extended Thinking operations.
  - name: Files
    description: Files operations.
  - name: Fine-tuning
    description: Fine-tuning operations.
  - name: Google Maps
    description: Google Maps operations.
  - name: HCRA
    description: HCRA operations.
  - name: Health
    description: Health operations.
  - name: Images
    description: Images operations.
  - name: Intelligent
    description: Intelligent operations.
  - name: Jobs
    description: Jobs operations.
  - name: JWKS
    description: JWKS operations.
  - name: Metrics
    description: Metrics operations.
  - name: Models
    description: Models operations.
  - name: Moderations
    description: Moderations operations.
  - name: Observability
    description: Observability operations.
  - name: Orchestration
    description: Orchestration operations.
  - name: Organizations
    description: Organizations operations.
  - name: PDF
    description: PDF operations.
  - name: Projects
    description: Projects operations.
  - name: Providers
    description: Providers operations.
  - name: Queue
    description: Queue operations.
  - name: Realtime
    description: Realtime operations.
  - name: Responses
    description: Responses operations.
  - name: Search
    description: Search operations.
  - name: Status
    description: Status operations.
  - name: Threads
    description: Threads operations.
  - name: Tools
    description: Tools operations.
  - name: Tools - Batch Operations
    description: Tools - Batch Operations operations.
  - name: Tools - Code Analysis
    description: Tools - Code Analysis operations.
  - name: Tools - File Operations
    description: Tools - File Operations operations.
  - name: Tools - Git
    description: Tools - Git operations.
  - name: Tools - Multimodal
    description: Tools - Multimodal operations.
  - name: Tools - Refactoring
    description: Tools - Refactoring operations.
  - name: Tools - Task Management
    description: Tools - Task Management operations.
  - name: Tools - Testing & Validation
    description: Tools - Testing & Validation operations.
  - name: Tools - Web
    description: Tools - Web operations.
  - name: Tools - Workflow
    description: Tools - Workflow operations.
  - name: Translation
    description: Translation operations.
  - name: Usage
    description: Usage operations.
  - name: User
    description: User operations.
  - name: Users
    description: Users operations.
  - name: Vector Stores
    description: Vector Stores operations.
  - name: Videos
    description: Videos operations.
paths:
  /v1/auth/challenge:
    post:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Create or execute auth challenge
      description: >-
        Create or execute auth challenge.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/challenge as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: postAuthChallenge
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security: []
  /v1/auth/email-challenge:
    post:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Create or execute auth email challenge
      description: >-
        Create or execute auth email challenge.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/email-challenge as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: postAuthEmailchallenge
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security: []
  /v1/auth/register:
    post:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Create or execute auth register
      description: >-
        Create or execute auth register.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/register as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: postAuthRegister
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security: []
  /v1/auth/login:
    post:
      tags:
        - Auth
      description: Complete authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create or execute auth login
      operationId: postAuthLogin
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security: []
  /v1/auth/login-with-code:
    post:
      tags:
        - Auth
      description: Login with email verification code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - challengeId
                - code
              properties:
                challengeId:
                  type: string
                  minLength: 1
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
                  pattern: ^[0-9]{6}$
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      organizationId:
                        type: string
                      roles:
                        type: array
                        items:
                          type: string
                  tokens:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
                      expiresIn:
                        type: number
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create or execute auth login with code
      operationId: postAuthLoginwithcode
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security: []
  /v1/auth/logout:
    post:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Create or execute auth logout
      description: >-
        Create or execute auth logout.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/logout as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: postAuthLogout
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
  /v1/auth/refresh:
    post:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Create or execute auth refresh
      description: >-
        Create or execute auth refresh.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/refresh as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: postAuthRefresh
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security: []
  /v1/auth/api-keys:
    get:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Retrieve auth api keys
      description: >-
        Retrieve auth api keys.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/api-keys as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: getAuthApikeys
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
    post:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Create or execute auth api keys
      description: >-
        Create or execute auth api keys.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/api-keys as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: postAuthApikeys
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
  "/v1/auth/api-keys/{id}":
    delete:
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      tags:
        - Advanced
      summary: Delete auth api keys id
      description: >-
        Delete auth api keys id.


        Enterprise contract notes:

        - Purpose: exposes /v1/auth/api-keys/{id} as a governed API capability inside the CI Fabric.

        - Preconditions: requires valid authentication unless explicitly marked as public in the operation security block.

        - Side-effects: may emit telemetry/audit signals and mutate artifacts depending on method semantics.

        - Limits: subject to tenant quotas, payload constraints, and rate-limit policies.

        - Observability: request and correlation identifiers are propagated for traceability.

        - Security and privacy: tenant isolation, policy enforcement, retention, and redaction controls apply.
      operationId: deleteAuthApikeysById
      x-collective-intelligence:
        contributionType: governance
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
  /v1/user/profile:
    get:
      tags:
        - User
      description: Get user profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      role:
                        type: string
                      status:
                        type: string
                      organizationId:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve user profile
      operationId: getUserProfile
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
    put:
      tags:
        - User
      description: Update user profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                description: Profile updated
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Update user profile
      operationId: putUserProfile
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  /v1/organizations:
    get:
      tags:
        - Organizations
      description: List organizations
      parameters:
        - schema:
            type: number
            minimum: 1
            maximum: 100
          in: query
          name: limit
          required: false
        - schema:
            type: number
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - free
              - pro
              - enterprise
          in: query
          name: tier
          required: false
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve organizations
      operationId: getOrganizations
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  "/v1/organizations/{id}":
    get:
      tags:
        - Organizations
      description: Get organization details
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      tier:
                        type: string
                      status:
                        type: string
                      memberCount:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve organizations id
      operationId: getOrganizationsById
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
    put:
      tags:
        - Organizations
      description: Update organization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                tier:
                  type: string
                  enum:
                    - free
                    - starter
                    - pro
                    - enterprise
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  organization:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      tier:
                        type: string
                      status:
                        type: string
                      updatedAt:
                        type: string
                        format: date-time
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Update organizations id
      operationId: putOrganizationsById
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  "/v1/organizations/{id}/members":
    get:
      tags:
        - Organizations
      description: List organization members
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        email:
                          type: string
                        name:
                          type: string
                        role:
                          type: string
                        status:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve organizations id members
      operationId: getOrganizationsByIdMembers
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  "/v1/organizations/{id}/members/{userId}":
    delete:
      tags:
        - Organizations
      description: Remove member from organization
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
        - schema:
            type: string
            format: uuid
          in: path
          name: userId
          required: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Delete organizations id members userId
      operationId: deleteOrganizationsByIdMembersByUserId
      x-collective-intelligence:
        contributionType: governance
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  /v1/api-keys:
    get:
      tags:
        - API Keys
      description: List user API keys
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve api keys
      operationId: getApikeys
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  "/v1/api-keys/{keyId}/rotate":
    post:
      tags:
        - API Keys
      description: Rotate API key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      parameters:
        - schema:
            type: string
          in: path
          name: keyId
          required: true
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create or execute api keys keyId rotate
      operationId: postApikeysByKeyIdRotate
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  /v1/models:
    get:
      tags:
        - Models
      description: List all available models (OpenAI-compatible endpoint)
      parameters:
        - schema:
            type: string
            enum:
              - runnable
              - all
              - discovered
          in: query
          name: scope
          required: false
          description: runnable=only providers with active adapters; all/discovered=full
            discovered inventory
        - schema:
            type: string
          in: query
          name: endpoint
          required: false
          description: "Optional endpoint compatibility filter. Canonical:
            chat_completions, responses, completions, embeddings, images,
            videos, audio_speech, audio_transcriptions, realtime. Aliases
            accepted (e.g. chat, tts, stt)."
      security: []
      responses:
        "200":
          description: List of models
          content:
            application/json:
              schema:
                description: List of models
                type: object
                properties:
                  object:
                    type: string
                  scope:
                    type: string
                  endpointFilter:
                    type: string
                    nullable: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        displayName:
                          type: string
                        provider:
                          type: string
                        originProvider:
                          type: string
                        executionProvider:
                          type: string
                        resolvedProvider:
                          type: string
                          nullable: true
                        runnable:
                          type: boolean
                        fallbackChain:
                          type: array
                          items:
                            type: string
                        operability:
                          type: string
                          enum:
                            - operational
                            - non_operational
                        nonOperationalReasons:
                          type: array
                          items:
                            type: string
                        contextWindow:
                          type: number
                        maxOutputTokens:
                          type: number
                        capabilities:
                          type: array
                          items:
                            type: string
                        modalities:
                          type: array
                          items:
                            type: string
                        endpoints:
                          type: array
                          items:
                            type: string
                        endpointCompatibility:
                          type: object
                          additionalProperties:
                            type: string
                            enum:
                              - explicit
                              - inferred
                        pricing:
                          type: object
                          properties:
                            inputCostPer1M:
                              type: number
                            outputCostPer1M:
                              type: number
                            currency:
                              type: string
                        performance:
                          type: object
                        status:
                          type: string
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve models
      operationId: getModels
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  /v1/models/list:
    get:
      tags:
        - Models
      description: List all available models from all providers
      parameters:
        - schema:
            type: string
            enum:
              - runnable
              - all
              - discovered
          in: query
          name: scope
          required: false
          description: runnable=only providers with active adapters; all/discovered=full
            discovered inventory
        - schema:
            type: string
          in: query
          name: endpoint
          required: false
          description: "Optional endpoint compatibility filter. Canonical:
            chat_completions, responses, completions, embeddings, images,
            videos, audio_speech, audio_transcriptions, realtime. Aliases
            accepted (e.g. chat, tts, stt)."
      security: []
      responses:
        "200":
          description: List of models
          content:
            application/json:
              schema:
                description: List of models
                type: object
                properties:
                  object:
                    type: string
                  scope:
                    type: string
                  endpointFilter:
                    type: string
                    nullable: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        displayName:
                          type: string
                        provider:
                          type: string
                        originProvider:
                          type: string
                        executionProvider:
                          type: string
                        resolvedProvider:
                          type: string
                          nullable: true
                        runnable:
                          type: boolean
                        fallbackChain:
                          type: array
                          items:
                            type: string
                        operability:
                          type: string
                          enum:
                            - operational
                            - non_operational
                        nonOperationalReasons:
                          type: array
                          items:
                            type: string
                        contextWindow:
                          type: number
                        maxOutputTokens:
                          type: number
                        capabilities:
                          type: array
                          items:
                            type: string
                        modalities:
                          type: array
                          items:
                            type: string
                        endpoints:
                          type: array
                          items:
                            type: string
                        endpointCompatibility:
                          type: object
                          additionalProperties:
                            type: string
                            enum:
                              - explicit
                              - inferred
                        pricing:
                          type: object
                          properties:
                            inputCostPer1M:
                              type: number
                            outputCostPer1M:
                              type: number
                            currency:
                              type: string
                        performance:
                          type: object
                        status:
                          type: string
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve models list
      operationId: getModelsList
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  "/v1/models/{id}":
    get:
      tags:
        - Models
      description: >-
        Get specific model details


        Provider/model IDs are accepted with raw "/" or encoded "%2F". Prefer encoded "%2F" for maximum gateway/client compatibility.
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
          description: Model ID. Supports "provider/model" and encoded "provider%2Fmodel".
            Only one provider/model separator is supported.
          example: ai21%2Fjamba-large-1.7
      security: []
      responses:
        "200":
          description: Model details
          content:
            application/json:
              schema:
                description: Model details
                type: object
                additionalProperties: true
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve models id
      operationId: getModelsById
      x-collective-intelligence:
        contributionType: signal-consumer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  /v1/chat/completions:
    post:
      summary: Create a chat completion
      tags:
        - Chat
      description: Create a chat completion with intelligent multi-model
        orchestration. Supports streaming and non-streaming modes. Automatically
        selects the best model based on requirements, cost, and quality targets.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Model ID (e.g., "gpt-4", "claude-3-opus"), "auto", or Ailin virtual
                    aliases (e.g., "ailin-auto", "ailin-best", "ailin-fast",
                    "ailin-economy", "ailin-consensus"). Virtual aliases map to
                    autonomous orchestration profiles and still use dynamic
                    provider/model discovery.
                messages:
                  type: array
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                          - function
                          - tool
                        description: "Message role: system (instructions), user (user input), assistant
                          (model response), function/tool (tool results)"
                      content:
                        oneOf:
                          - type: string
                            description: Text content
                          - type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - text
                                    - image_url
                                  description: "Content part type: text (plain text) or image_url (image
                                    reference)"
                                text:
                                  type: string
                                  description: Text content (required when type is "text")
                                image_url:
                                  type: object
                                  description: Image URL object (required when type is "image_url")
                                  properties:
                                    url:
                                      type: string
                                      description: Image URL (must be publicly accessible or use data URI format)
                                    detail:
                                      type: string
                                      enum:
                                        - low
                                        - high
                                        - auto
                                      description: "Image detail level: low (cost-effective, 512x512), high (full
                                        resolution), auto (adaptive based on
                                        image size)"
                            description: Array of content parts (text and/or images) for multimodal messages
                          - type: object
                            properties:
                              type:
                                type: string
                                description: Content type (e.g., "text", "image_url")
                              text:
                                type: string
                                description: Text content (when type is "text")
                              image_url:
                                type: object
                                description: Image URL object (when type is "image_url")
                            additionalProperties: true
                            description: Content object format (alternative to array format for multimodal
                              content)
                        description: Message content (string, array of parts, or object)
                      name:
                        type: string
                        description: Optional name for the message (for function/tool messages)
                      tool_calls:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                        description: Tool calls made by the assistant
                      tool_call_id:
                        type: string
                        description: ID of the tool call this message responds to
                  minItems: 1
                  description: Array of messages in the conversation. Must contain at least one
                    message.
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Sampling temperature (0-2). Higher values make output more random.
                    Lower values make it more focused and deterministic.
                max_tokens:
                  type: integer
                  minimum: 1
                  description: Maximum number of tokens to generate in the completion.
                    Model-dependent limits apply.
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Nucleus sampling parameter. Consider tokens with top_p probability
                    mass. Alternative to temperature.
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalty for frequent tokens (-2 to 2). Positive values reduce
                    repetition.
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalty for new topics (-2 to 2). Positive values encourage new
                    topics.
                stop:
                  oneOf:
                    - type: string
                      description: Single stop sequence
                    - type: array
                      items:
                        type: string
                      maxItems: 4
                      description: Up to 4 stop sequences
                  description: Stop sequences. Generation stops when any sequence is encountered.
                stream:
                  type: boolean
                  default: false
                  description: Enable streaming mode. Returns Server-Sent Events (SSE) stream of
                    completion chunks.
                tools:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - function
                      function:
                        type: object
                        description: Function tool definition. Required when type is "function".
                        properties:
                          name:
                            type: string
                            description: Function name (must be unique, lowercase/underscore, a-z, 0-9, _).
                              Used by the model to identify which function to
                              call.
                          description:
                            type: string
                            description: Function description explaining what the function does. The model
                              uses this to decide when to call the function.
                          parameters:
                            type: object
                            additionalProperties: true
                            description: JSON Schema object defining function parameters. Must be valid JSON
                              Schema describing the expected input structure.
                  description: List of tools (functions) available to the model. Model may choose
                    to call these tools.
                tool_choice:
                  oneOf:
                    - type: string
                      enum:
                        - none
                        - auto
                      description: "Tool choice mode: none (no tools) or auto (model decides)"
                    - type: object
                      additionalProperties: true
                      description: Force specific tool call
                  description: Controls which tool (if any) the model calls. "none" disables
                    tools, "auto" lets model decide.
                response_format:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - json_object
                        - text
                  description: 'Response format. Use { type: "json_object" } to force JSON
                    output.'
                strategy:
                  type: string
                  enum:
                    - single
                    - cost
                    - speed
                    - quality
                    - balanced
                    - parallel
                    - debate
                    - quality_multipass
                    - dynamic
                    - quality-multi-pass
                    - quality-multipass
                    - auto
                  description: "Ailin-specific: Canonical strategy contract with compatibility
                    aliases. Canonical: single, cost, speed, quality, balanced,
                    parallel, debate, quality_multipass, dynamic."
                max_cost:
                  type: number
                  minimum: 0
                  description: "Ailin-specific: Maximum cost in USD for this request.
                    Orchestration will select models within budget."
                quality_target:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: "Ailin-specific: Quality target (0-1). Higher values prioritize
                    quality over cost/speed."
                task_type:
                  type: string
                  description: 'Ailin-specific: Task type hint (e.g., "code-generation",
                    "analysis", "creative") for better model selection'
              required:
                - messages
              additionalProperties: true
        required: true
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          description: Successful completion
          content:
            application/json:
              schema:
                description: Successful completion
                type: object
                required:
                  - id
                  - object
                  - created
                  - model
                  - choices
                  - usage
                additionalProperties: true
                properties:
                  id:
                    type: string
                    description: Unique identifier for the completion
                  object:
                    type: string
                    description: Object type identifier (always "chat.completion")
                  created:
                    type: integer
                    description: Unix timestamp when the completion was created
                  model:
                    type: string
                    description: Model ID used for this completion
                  choices:
                    type: array
                    description: Array of completion choices. Usually contains one choice unless n >
                      1
                    items:
                      type: object
                      required:
                        - index
                        - message
                        - finish_reason
                      additionalProperties: true
                      description: A completion choice containing the generated message
                      properties:
                        index:
                          type: integer
                          description: Index of the choice (0-based)
                        finish_reason:
                          type: string
                          description: "Reason for completion: stop (natural end), length (token limit),
                            tool_calls (tool usage required), content_filter
                            (content filtered), or function_call (deprecated)"
                        logprobs:
                          description: Log probability information for tokens
                          type: object
                          additionalProperties: true
                          nullable: true
                        message:
                          type: object
                          required:
                            - role
                            - content
                          additionalProperties: true
                          description: The generated message from the model
                          properties:
                            role:
                              type: string
                              description: "Message role: assistant (model response)"
                            content:
                              oneOf:
                                - type: string
                                  description: Text content as a string
                                - type: array
                                  description: Array of content parts (for multimodal responses)
                                  items:
                                    type: object
                                    additionalProperties: true
                                    description: Content part object (text, image_url, etc.)
                              description: Message content (string or array of parts)
                            refusal:
                              description: Reason why the model refused to respond (safety/content policy)
                              type: string
                              nullable: true
                            tool_calls:
                              description: Array of tool calls made by the model
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                description: Tool call object containing function name and arguments
                              nullable: true
                  usage:
                    type: object
                    required:
                      - prompt_tokens
                      - completion_tokens
                      - total_tokens
                    additionalProperties: true
                    description: Token usage statistics for this completion
                    properties:
                      prompt_tokens:
                        type: integer
                        description: Number of tokens in the prompt
                      completion_tokens:
                        type: integer
                        description: Number of tokens in the completion
                      total_tokens:
                        type: integer
                        description: Total tokens used (prompt + completion)
                  system_fingerprint:
                    description: System fingerprint for reproducibility
                    type: string
                    nullable: true
                  ailin_metadata:
                    type: object
                    additionalProperties: true
                    description: Ailin-specific metadata about the completion (model used, provider,
                      cost, etc.)
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "202":
          description: Request queued for asynchronous processing
          content:
            application/json:
              schema:
                description: Request queued for asynchronous processing
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - queued
                    description: Queue status
                  message:
                    type: string
                    description: Queue message
                  queueId:
                    type: string
                    description: Queue ID for tracking
                  position:
                    type: integer
                    description: Position in queue
                  estimatedWaitTimeMs:
                    type: integer
                    description: Estimated wait time in milliseconds
                  priority:
                    type: integer
                    description: Request priority
                  tier:
                    type: string
                    enum:
                      - enterprise
                      - pro
                      - free
                    description: User tier
                  systemLoad:
                    type: number
                    description: Current system load
                  reason:
                    type: string
                    description: Reason for queueing
                  pollAfterMs:
                    type: integer
                    description: Recommended polling interval in milliseconds
                  statusUrl:
                    type: string
                    description: URL to check request status
                  expiresAt:
                    type: integer
                    description: Unix timestamp when request expires
          headers:
            X-Request-Id:
              description: Unique request identifier for end-to-end tracing.
              schema:
                type: string
            X-Correlation-Id:
              description: Correlation identifier propagated across internal services.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      operationId: postChatCompletions
      x-collective-intelligence:
        contributionType: signal-producer
        artifactsProduced:
          - traces
        artifactsConsumed:
          - policies
          - org_settings
          - quotas
          - request_context
        aggregationOrSynthesis: Combines request intent, policy constraints, and tenant
          context to produce deterministic outputs within the CI Fabric.
        feedbackLoops: Feeds telemetry, evaluation signals, and human feedback into
          quality gates and policy refinement cycles.
        provenanceAndAttribution: Associates user, organization, model, and tool
          provenance with requestId/correlationId for end-to-end attribution.
        governanceAndPrivacyBoundaries: Applies tenant isolation, retention controls,
          redaction rules, and auditable policy enforcement boundaries.
        failureModesAndCiImpact: Potential CI impact includes stale memory, missing
          attribution links, policy mismatches, and reduced synthesis quality.
  /v1/analyze-requirements:
    post:
      tags:
        - Capabilities
      description: Analyze request requirements and suggest optimal model selection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Model ID (e.g., "gpt-4", "claude-3-opus"), "auto", or Ailin virtual
                    aliases (e.g., "ailin-auto", "ailin-best", "ailin-fast",
                    "ailin-economy", "ailin-consensus"). Virtual aliases map to
                    autonomous orchestration profiles and still use dynamic
                    provider/model discovery.
                messages:
                  type: array
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                          - function
                          - tool
                        description: "Message role: system (instructions), user (user input), assistant
                          (model response), function/tool (tool results)"
                      content:
                        oneOf:
                          - type: string
                            description: Text content
                          - type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - text
                                    - image_url
                                  description: "Content part type: text (plain text) or image_url (image
                                    reference)"
                                text:
                                  type: string
                                  description: Text content (required when type is "text")
                                image_url:
                                  type: object
                                  description: Image URL object (required when type is "image_url")
                                  properties:
                                    url:
                                      type: string
                                      description: Image URL (must be publicly accessible or use data URI format)
                                    detail:
                                      type: string
                                      enum:
                                        - low
                                        - high
                                        - auto
[...]
